h1 {
    background-color: #f4e652;
    font-size: 30px;
    text-align: center;
}

div {
    width: 300px;
    float: left;
}

footer {
    background-color: #52a3f4;
    height: 60%;
}

#div1, #div2 {
    height: 30%;
    border: 1px solid black;
    background-color: #9e1616;
}

#div3 {
    height: 50%;
    border: 1px solid black;
    background-color: #87e346;
}