div {
    width: 200px;
    float: left;
    border-radius: 3.5%;
}

/* Clase que añade un espacio debajo */
.space-down {
    margin-bottom: 20px;
}

/* Clase que agrega el borde de abajo */
.line-bottom{
    border-bottom: 1px solid #000;
}

/* Clase que elimina la propiedad border-radius de los bordes de abajo */
.bottom-border {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

/* Clase que elimina la propiedad border-radius de los bordes de arriba */
.top-border {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

/* Clase que elimina la propiedad border-radius de los bordes de la izquierda */
.left-border {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

/* Clase que elimina la propiedad border-radius de los bordes de la derecha */
.right-border {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#div0 {
    background-color: #f3f1a2;
    padding: 10px 0;
    text-align: center;
}

#div1, #div2 {
    background-color: #ee8a8a;
    width: 180px;
    padding: 75px 0;
    text-align: center;
}

#div3 {
    background-color: #b2eeb0;
    width: 400px;
    padding: 110px 0;
    text-align: center;
}

#div4 {
    background-color: #a7c9eb;
    width: 400px;
    padding: 30px 0;
    text-align: center;
}